@charset "UTF-8";
/* ======================================================================== */
/* font-family */
/* ======================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* ======================================================================== */
/* rem */
/* ======================================================================== */
/* ======================================================================== */
/* calc */
/* ======================================================================== */
/* vw */
/* per */
/* em */
/* min */
/* line-height */
/* ======================================================================== */
/* clamp */
/* ======================================================================== */
/* ======================================================================== */
/*  line-clamp */
/* ======================================================================== */
/* ======================================================================== */
/*  hover */
/* ======================================================================== */
.un_ja {
  font-family: "Noto Sans JP", sans-serif;
}

.un_en {
  font-family: "Fira Sans", sans-serif;
}

/* ======================================================================== */
/* color */
/* ======================================================================== */
/* ======================================================================== */
/* max-width */
/* ======================================================================== */
/* ======================================================================== */
/* header-inner */
/* ======================================================================== */
/* ======================================================================== */
/* easing */
/* ======================================================================== */
/* ======================================================================== */
/* breakpoints */
/* ======================================================================== */
.c-animate {
  opacity: 0;
}
.c-animate.is-animated {
  /* fadeUp */
  /* ---------------------------------------------------------- */
  /* revealText */
  /* ---------------------------------------------------------- */
}
.c-animate.is-animated.fadeUpAnime {
  transition: transform 1.2s, opacity 1.2s;
  transition-delay: 0.6s;
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-delay: 95ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}
@keyframes fadeUp {
  0% {
    transform: translateY(35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.c-animate.is-animated.revealTextAnime {
  position: relative;
  white-space: nowrap;
  cursor: default;
  animation-name: clipText;
  animation-delay: 0;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  opacity: 1;
}
.c-animate.is-animated.revealTextAnime::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: textRevealer;
}
.c-animate.is-animated.revealTextAnime.revealTextBgMain::after {
  background-color: #023E78;
}
@keyframes clipText {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes textRevealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* ======================================================================== */
/* base */
/* ======================================================================== */
html {
  overflow-x: hidden;
}

body {
  font-size: 0.875rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #1a1a1a;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

/* ======================================================================== */
/*  display */
/* ======================================================================== */
@media screen and (min-width: 768px) {
  .hp_sp_show {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hp_sp_show {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .hp_pc_show {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .hp_pc_show {
    display: none;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 0 5.333vw;
  height: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__inner {
    height: 9.765625vw;
  }
}
@media screen and (min-width: 1024px) {
  .header__inner {
    height: 100px;
    padding: 0 1.25%;
    max-width: 1280px;
  }
}
.header__title {
  width: 198px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .header__title {
    width: 283px;
  }
}
.header__title_link {
  display: block;
}
.header__nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding: 0 10.6666666667vw;
  background: #023E78;
  transform: translateY(-100%);
  transition: ease 0.4s;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    width: calc(100% - 283px);
    height: 100%;
    background: transparent;
    transform: translateY(0);
  }
}
.header__nav.is-open {
  transform: translateY(0);
}
.header__nav_list {
  margin-top: 110px;
}
@media screen and (min-width: 1024px) {
  .header__nav_list {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
}
.header__nav_item {
  text-align: center;
}
.header__nav_item + .header__nav_item {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .header__nav_item + .header__nav_item {
    margin-top: 0;
  }
  .header__nav_item:not(:first-child)::before {
    content: "／";
    padding: 0 clamp(0.625rem, -0.875rem + 2.34vw, 1rem);
  }
}
.header__nav_link {
  display: block;
  font-size: 1rem;
  color: #fff;
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  .header__nav_link {
    font-size: clamp(0.75rem, 0.25rem + 0.78vw, 0.875rem);
    color: #1a1a1a;
    position: relative;
    display: inline-block;
    transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .header__nav_link::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #023E78;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .header__nav_link:hover {
    color: #023E78;
  }
  .header__nav_link:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
.header__nav_appeal {
  text-align: center;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .header__nav_appeal {
    margin-top: 0;
    margin-left: clamp(1.375rem, -1.125rem + 3.91vw, 2rem);
  }
  .header__nav_appeal + .header__nav_appeal {
    margin-left: 10px;
  }
}
.header__menu-btn {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 16px;
  margin-left: auto;
  z-index: 200;
}
@media screen and (min-width: 1024px) {
  .header__menu-btn {
    display: none;
  }
}
.header__menu-btn_inline {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: #023E78;
  border-radius: 2px;
  transition: all 0.4s;
}
.header__menu-btn_inline:nth-child(1) {
  top: 0;
}
.header__menu-btn_inline:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.header__menu-btn_inline:nth-child(3) {
  bottom: 0;
}
.header__menu-btn.is-open .header__menu-btn_inline {
  background: #fff;
}
.header__menu-btn.is-open .header__menu-btn_inline:nth-child(1) {
  transform: translate(-50%, 9px) rotate(45deg);
}
.header__menu-btn.is-open .header__menu-btn_inline:nth-child(2) {
  opacity: 0;
}
.header__menu-btn.is-open .header__menu-btn_inline:nth-child(3) {
  transform: translate(-50%, -5px) rotate(-45deg);
}

.footer {
  position: relative;
  z-index: 1;
  color: #fff;
  background: #1A1A1A;
}
@media screen and (min-width: 768px) {
  .footer__conversion {
    display: flex;
  }
}
.footer__conversion_item {
  width: 100%;
  height: 265px;
  padding: 45px 0 26px;
}
@media screen and (min-width: 768px) {
  .footer__conversion_item {
    width: 50%;
    height: 340px;
    padding: 56px 0 50px;
  }
}
.footer__conversion_item--download {
  background: url("../../assets/images/common/img_download.png") no-repeat;
  background-size: cover;
}
.footer__conversion_item--contact {
  background: url("../../assets/images/common/img_contact.png") no-repeat;
  background-size: cover;
}
.footer__conversion_ttl {
  text-align: center;
  color: #fff;
}
.footer__conversion_ttl .en {
  display: block;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__conversion_ttl .en {
    font-size: 3.75rem;
  }
}
.footer__conversion_ttl .ja {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
.footer__conversion_btn {
  text-align: center;
  margin-top: 40px;
}
.footer__contents {
  text-align: center;
  padding: 60px 0 14px;
}
@media screen and (min-width: 768px) {
  .footer__contents {
    padding: 114px 0 20px;
  }
}
.footer__logo {
  width: 284px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 370px;
  }
}
.footer__logo a {
  display: block;
}
.footer__info {
  max-width: 235px;
  text-align: left;
  line-height: 1.714;
  margin: 22px auto 0;
}
.footer__copyright {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 80px;
  }
}
.footer__copyright small {
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright small {
    font-size: 0.875rem;
  }
}

.main {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .main {
    margin-top: 9.765625vw;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    margin-top: 100px;
  }
}

.l-container {
  width: 89.4%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .p-sec-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.p-sec-heading__title {
  display: inline-block;
  color: #023E78;
}
.p-sec-heading__title .en {
  display: inline-block;
  font-size: clamp(3.25rem, 2.007rem + 5.3vw, 6.25rem);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.21;
  text-transform: uppercase;
}
.p-sec-heading__title .ja {
  display: block;
  font-size: clamp(1rem, 0.793rem + 0.88vw, 1.5rem);
  font-weight: bold;
}
.p-sec-heading__title--white {
  color: #fff;
}
.p-sec-heading__btn {
  position: relative;
  text-align: right;
  z-index: 5;
}
.p-sec-heading__btn-link {
  position: relative;
  display: inline-block;
  font-size: clamp(1.25rem, 0.939rem + 1.33vw, 2rem);
  font-family: "Fira Sans", sans-serif;
  line-height: 1;
  padding-top: 2.6666666667vw;
  padding-right: 26.1333333333vw;
  padding-bottom: 2.6666666667vw;
}
@media screen and (min-width: 768px) {
  .p-sec-heading__btn-link {
    padding-top: 18px;
    padding-right: 140px;
    padding-bottom: 18px;
  }
}
.p-sec-heading__btn-link .arrow {
  position: absolute;
  display: inline-block;
  top: 55%;
  transform: translateY(-50%);
  width: 16vw;
  height: 2px;
  margin-left: 5.3333333333vw;
  transition: width 0.4s;
  z-index: 1;
}
.p-sec-heading__btn-link .arrow::before {
  position: absolute;
  top: -10px;
  right: 4px;
  content: "";
  display: inline-block;
  width: 2px;
  height: 14px;
  transform: rotate(-55deg);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-sec-heading__btn-link .arrow {
    width: 95px;
    margin-left: 20px;
  }
}
.p-sec-heading__btn-link .circle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10.6666666667vw;
  height: 10.6666666667vw;
  border-radius: 50vh;
}
@media screen and (min-width: 768px) {
  .p-sec-heading__btn-link .circle {
    width: 50px;
    height: 50px;
  }
}
.p-sec-heading__btn--white {
  color: #fff;
}
.p-sec-heading__btn--white .arrow,
.p-sec-heading__btn--white .arrow::before {
  background: #fff;
}
.p-sec-heading__btn--white .circle {
  border: 2px solid #FEF251;
}
.p-sec-heading__btn--blue {
  color: #023E78;
}
.p-sec-heading__btn--blue .arrow,
.p-sec-heading__btn--blue .arrow::before {
  background: #023E78;
}
.p-sec-heading__btn--blue .circle {
  background: #FEF251;
}
.p-sec-heading__btn--black {
  color: #1a1a1a;
}
.p-sec-heading__btn--black .arrow,
.p-sec-heading__btn--black .arrow::before {
  background: #1a1a1a;
}
.p-sec-heading__btn--black .circle {
  background: #FEF251;
}
@media (hover: hover) and (pointer: fine) {
  .p-sec-heading__btn:hover .arrow {
    width: 145px;
  }
}

.p-page-head {
  position: relative;
}
.p-page-head::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 44%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 14% 100%, 0% 100%);
  background: rgba(2, 62, 120, 0.8);
}
@media screen and (min-width: 768px) {
  .p-page-head::before {
    width: 28.516%;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  }
}
.p-page-head img {
  max-height: 250px;
  object-fit: cover;
}
.p-page-head__title {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #023E78;
}
@media screen and (min-width: 768px) {
  .p-page-head__title {
    left: 17.188%;
  }
}
.p-page-head__title .en {
  font-size: clamp(2rem, 1.275rem + 3.09vw, 3.75rem);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  background: #fff;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.p-page-head__title .ja {
  display: inline-block;
  margin-top: 8px;
  font-size: clamp(1rem, 0.896rem + 0.44vw, 1.25rem);
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
  background: #fff;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.btn {
  display: inline-block;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn--short {
  font-size: 1rem;
  width: 100%;
  max-width: 295px;
  padding: 1.375em 0;
}
@media screen and (min-width: 1024px) {
  .btn--short {
    font-size: clamp(0.75rem, 0.25rem + 0.78vw, 0.875rem);
    width: clamp(8.5rem, -1.5rem + 15.63vw, 11rem);
    padding: 1.7em 0;
  }
}
.btn--empty {
  color: #023E78;
  border: 1px solid #fff;
  background: #fff;
}
@media screen and (min-width: 1024px) {
  .btn--empty {
    border: 1px solid #023E78;
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .btn--empty:hover {
    color: #fff;
    background: #023E78;
    border: 1px solid #023E78;
  }
}
.btn--fill {
  color: #fff;
  background: #023E78;
  border: 1px solid #fff;
}
@media screen and (min-width: 1024px) {
  .btn--fill {
    border: 1px solid #023E78;
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .btn--fill:hover {
    background: #002a52;
    border: 1px solid #002a52;
  }
}
.btn--arrow {
  position: relative;
  display: inline-block;
  width: 295px;
  max-width: 100%;
  font-size: 1rem;
  color: #FEF251;
  padding: 1.75em 0;
  border: 3px solid #FEF251;
}
@media screen and (min-width: 768px) {
  .btn--arrow {
    font-size: 1.5rem;
    width: 315px;
    padding: 1.458em 0;
  }
}
.btn--arrow .arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 1.25em;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .btn--arrow .arrow {
    right: 1.333em;
    transition: color background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.btn--arrow .arrow::after {
  content: "";
  display: block;
  width: 20px;
  height: 13px;
  background: url("../../assets/images/common/ico_arrow-y.svg") no-repeat;
  background-size: cover;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: hover) and (pointer: fine) {
  .btn--arrow:hover {
    color: #1a1a1a;
    background: #FEF251;
  }
  .btn--arrow:hover .arrow::after {
    transform: translateX(6px);
    background: url("../../assets/images/common/ico_arrow-b.svg") no-repeat;
    background-size: cover;
  }
}

.page_top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: transform 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .page_top {
    right: 20px;
    bottom: 40px;
  }
  .page_top a {
    display: block;
  }
}
@media (hover: hover) and (pointer: fine) {
  .page_top:hover {
    transform: translateY(-8px);
  }
}

.skew {
  transform: skewY(10deg);
}
.skew--reverse {
  transform: skewY(-10deg);
}
.skew--company {
  background: linear-gradient(transparent 19%, #EEF3F8 19%);
}
@media screen and (min-width: 768px) {
  .skew--company {
    background: linear-gradient(transparent 42%, #EEF3F8 42%);
  }
}
.skew--service {
  background: linear-gradient(transparent 47.3%, #EEF3F8 47.3%);
}
@media screen and (min-width: 768px) {
  .skew--service {
    background: linear-gradient(transparent 48.2%, #EEF3F8 48.2%);
  }
}
.skew--news {
  background: linear-gradient(transparent 20%, #EEF3F8 20%);
}
@media screen and (min-width: 768px) {
  .skew--news {
    background: linear-gradient(transparent 50%, #EEF3F8 50%);
  }
}

.mv__inner {
  position: relative;
  margin-left: 5.333%;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    margin-left: 3.906%;
  }
}
.mv__slider {
  width: 100%;
  margin-left: 5.333%;
  aspect-ratio: 335/607;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .mv__slider {
    aspect-ratio: 1230/700;
    margin-left: 3.125%;
  }
}
.mv__slider img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.mv__message {
  position: absolute;
  top: 103.2vw;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mv__message {
    top: 33.984vw;
  }
}
.mv__message span.revealTextAnime, .mv__message span.revealTextAnime::after {
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.mv__message_main .text {
  font-size: 10.6666666667vw;
  font-family: "Fira Sans", sans-serif;
  color: #023E78;
  line-height: 1.5;
  text-transform: uppercase;
  background: #fff;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@media screen and (min-width: 768px) {
  .mv__message_main .text {
    font-size: 4.688vw;
  }
}
.mv__message_sub {
  margin-top: 1em;
}
.mv__message_sub .text {
  font-size: 4.267vw;
  font-weight: bold;
  color: #fff;
  line-height: 1.45;
  background: #023E78;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@media screen and (min-width: 768px) {
  .mv__message_sub .text {
    font-size: 1.563vw;
  }
}

#top .p-company {
  position: relative;
  padding: 60px 0 136px;
}
@media screen and (min-width: 768px) {
  #top .p-company {
    padding: 150px 0 38px;
  }
}
#top .p-company__inner {
  position: relative;
}
@media screen and (min-width: 768px) {
  #top .p-company__inner {
    padding: 105px 0 93px;
  }
}
#top .p-company__bg {
  position: absolute;
  z-index: 1;
}
#top .p-company__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top .p-company__bg--pc {
  top: 0;
  right: 0;
  width: 39.063%;
  height: 100%;
}
#top .p-company__bg--sp {
  top: 0;
  right: -5.333vw;
  width: 78.667vw;
  height: 100%;
}
#top .p-company__wrap {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  #top .p-company__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  #top .p-company__wrap_text {
    width: 34.545%;
  }
}
#top .p-company__wrap_text p {
  line-height: 1.714;
}
#top .p-company__wrap_text p + p {
  margin-top: 1.714em;
}
#top .p-company__wrap_contents {
  position: relative;
  margin-top: 8.533vw;
  padding-top: 10.667vw;
  padding-bottom: 10.667vw;
}
@media screen and (min-width: 768px) {
  #top .p-company__wrap_contents {
    margin-top: 0;
    padding: 0;
    width: 61.818%;
  }
}
#top .p-company__wrap_contents_photo {
  position: relative;
  z-index: 2;
}
#top .p-company__wrap_contents .p-sec-heading__btn {
  margin-top: 10.667vw;
}

.p-service {
  padding-top: 60px;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .p-service {
    padding-top: 120px;
    padding-bottom: 112px;
  }
}
.p-service__list {
  padding-left: 4%;
  margin-top: 65px;
}
@media screen and (min-width: 768px) {
  .p-service__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
}
.p-service__item {
  position: relative;
}
.p-service__item:not(:first-child) {
  margin-top: 72px;
}
@media screen and (min-width: 768px) {
  .p-service__item {
    width: calc((100% - 140px) / 3);
  }
  .p-service__item:nth-child(2) {
    margin-top: 55px;
  }
  .p-service__item:nth-child(3) {
    margin-top: 110px;
  }
}
.p-service__item_num {
  position: absolute;
  top: -50px;
  right: 8px;
}
@media screen and (min-width: 768px) {
  .p-service__item_num {
    top: -12%;
    right: 2%;
  }
}
.p-service__item_num p {
  position: relative;
  font-size: 6.25rem;
  font-family: "Fira Sans", sans-serif;
  color: #023E78;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-service__item_num p {
    font-size: min(7.8125vw, 100px);
  }
}
.p-service__item_num p::before {
  content: attr(data-num);
  position: absolute;
  top: 0.04em;
  right: -0.04em;
  font-size: 6.25rem;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-service__item_num p::before {
    font-size: min(7.8125vw, 100px);
  }
}
.p-service__item_head {
  position: relative;
}
.p-service__item_ttl {
  position: absolute;
  left: -4%;
  bottom: 34px;
}
@media screen and (min-width: 768px) {
  .p-service__item_ttl {
    left: -10%;
    bottom: 34px;
  }
}
.p-service__item_ttl span {
  font-size: 1.75rem;
  font-weight: bold;
  color: #023E78;
  line-height: 1.7;
  background: #fff;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@media screen and (min-width: 768px) {
  .p-service__item_ttl span {
    font-size: min(2.1875vw, 28px);
  }
}
.p-service__item_txt {
  margin-top: 1.14em;
  line-height: 1.714;
}
.p-service .p-sec-heading__btn {
  margin-top: 32px;
}

.p-case {
  position: relative;
  margin-top: 60px;
  padding: 60px 0;
  background: url("../../assets/images/top/bg_case.png") center center no-repeat;
  background-size: cover;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-case {
    margin-top: 0;
    padding: 100px 0 120px;
  }
}
.p-case__list {
  display: grid;
  gap: 52px 0;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;
}
@media screen and (min-width: 576px) {
  .p-case__list {
    gap: 70px 6.3%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .p-case__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.p-case__card {
  color: #fff;
}
.p-case__card_link {
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .p-case__card_link:hover .p-case__card_icon {
    background: url("../../assets/images/common/ico_arrow-circle-y.svg") no-repeat;
    background-size: cover;
    transform: translateX(0);
  }
}
.p-case__card_img img {
  aspect-ratio: 320/240;
  width: 100%;
  object-fit: cover;
}
.p-case__card_name {
  font-size: 1rem;
  margin-top: 1em;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .p-case__card_name {
    font-size: clamp(0.875rem, 0.5rem + 1.04vw, 1rem);
  }
}
.p-case__card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.857em;
}
.p-case__card_category {
  display: inline-block;
  padding: 0.42em 1.14em;
  border: 1px solid #fff;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .p-case__card_category {
    font-size: clamp(0.75rem, 0.375rem + 1.04vw, 0.875rem);
  }
}
.p-case__card_icon {
  width: 30px;
  height: 30px;
  background: url("../../assets/images/common/ico_arrow-circle-w.svg") no-repeat;
  background-size: cover;
  transform: translateX(-10px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#top .p-news {
  margin: 60px 0 100px;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  #top .p-news {
    margin: 165px 0 16px;
    padding-bottom: 138px;
  }
}
#top .p-news__list {
  padding: 40px 20px;
  margin-top: 60px;
  background: #fff;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  #top .p-news__list {
    max-width: 768px;
    padding: 60px 40px;
    margin: 80px auto 0;
  }
}
#top .p-news__item {
  padding: 16px 0 32px;
  border-bottom: 1px solid #ddd;
}
@media screen and (min-width: 768px) {
  #top .p-news__item {
    padding: 20px 0 32px;
  }
}
#top .p-news__item:first-child {
  padding-top: 0;
}
#top .p-news__item_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top .p-news__item_category {
  display: inline-block;
  font-size: 0.75rem;
  color: #D33365;
  padding: 6px 20px;
  border: 1px solid #D33365;
}
@media screen and (min-width: 768px) {
  #top .p-news__item_category {
    font-size: 0.875rem;
  }
}
#top .p-news__item_date {
  color: #888;
}
#top .p-news__item_ttl {
  display: block;
  font-weight: bold;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  #top .p-news__item_ttl {
    font-size: 1rem;
  }
}
#top .p-news .p-sec-heading__btn {
  margin-top: 32px;
}

/* ========================================================================== */
/* top */
/* ========================================================================== */