@charset "utf-8"
@use "global/_global" as *

.main
  margin-top: 60px

  @include responsive(md)
    margin-top: calc(100 * 100vw / 1024)

  @include responsive(lg)
    margin-top: 100px

.l-container
  width: 89.4%
  max-width: $w-1100
  margin-left: auto
  margin-right: auto